# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build

# misc
*.iml
*.swp
.DS_Store
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.idea
.module-cache
.npm
.vscode

*.log
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
